
body{
background-color: #FDFEFE;
background-image: "robo.png";

}

.bold {
font-weight: 1000;
}


.highlight {
  border-radius: 0.4rem;
  font-size : 200% ;
  color:red;
  text-decoration: underline overline dotted red ;
  padding: 0.5rem;
  margin-bottom: 1rem;
}
